<div class='hover1'>

  <%= grid(@tasks, show_filters: :when_filtered) do |g|
    g.column name: '' do |task|
      check_box_tag 'tasks[]', task.id, false
    end
    g.column name: 'Title', attribute: 'title' do |task|
      best_in_place task, :title
    end
    g.column name: 'Description' do |task|
      best_in_place task, :description
    end
    g.column name: 'Priority', attribute: 'priority' do |task|
      best_in_place task, :priority
    end

    g.column do |task|
      link_to('', task_path(task), class:'fa fa-book fa_icons')
    end
    g.column do |task|
      link_to('', complete_task_path(task), data: {method: :put}, class: 'done fa fa-check-square-o ')
    end
    g.column do |task|
      link_to('', edit_task_path(task), class: 'fa fa-pencil')
    end
    g.column do |task|
      link_to('', task, method: :delete, class: 'fa fa-trash ')
    end

  end -%>

</div>