<h3 class="text-center">Деталі задачі</h3>
<br>
<br>
<div class="container container_edit">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-md-8">
      <h4>
        Назва:
        <%= @task.title %></h4>
      <br>
      <h4>
        Описание:
        <%= @task.description %></h4>
      <br>
      <h4>
        Приорітет:
        <%= @task.priority %></h4>
      <br>
      <h4>
        Активний?:
        <%= @task.completed %></h4>
      <br></div>
  </div>
</div>
