/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: 1.75em
}

.buffer-top {
  margin-top: 2em;

  .action {
    opacity: 0;
  }

  &:hover .action {
    opacity: 1;
    transition: opacity 0.5s ease;
    letter-spacing: 10px;
  }
}

.checkbox {

  display: flex;
  padding: 0 0 0 30px;
  width: 1100px;

}

.taskwrapper {
  margin: 0;
  line-height: 1;
  width: 100%;

}

.taskswrap {
  height: 100%;
}

.completed{
  margin-top: 50px;
}
.completed_true {
  text-decoration: line-through
}

.taskpriority {
  width: 100%;
}


.completedwrapper {
  padding: 10px 0;
  margin-left: 30px;
}

.but_delete {
  margin: 5% 0 0 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.completed_form {
  width: 80%;

}

.done {
  margin-left: 10px;
}

